@import "../../pages/variables.scss";
@import "../../pages/breakpoints.scss";

.inner-hero {
  padding: 260px 0px 140px 0px;
  background-image: linear-gradient(to right, $light-blue, $dark-blue);
  background-size: cover;
  @include bp-tablet-sm {
    padding: 120px 0px 40px 0px;
  }
  .card {
    background: rgba(0, 0, 0, 0);
    border-radius: 0px;
    padding: 60px;
    border-color: $white;
    width: 75%;
    margin: 0 auto;
    @include bp-tablet-sm {
      padding: 20px;
    }
    h1,
    h2 {
      color: $white;
    }
    h1 {
      font-size: 64px;
      font-weight: 500;
      @include bp-tablet-sm {
        font-size: 30px;
      }
    }
    h2 {
      font-size: 18px;
      padding: 20px 0px 30px 0px;
      @include bp-tablet-sm {
        font-size: 16px;
        line-height: 1.6;
        padding: 0px 0px 10px 0px;
      }
    }
  }
}
