@import "../../pages/variables.scss";

.testimonial-card {
  margin-bottom: 20px;
  .card {
    border: none;
    padding: 40px;
  }
  p {
    &.author {
      color: $dark-grey;
      font-weight: bold;
    }
    &.desc {
      font-style: italic;
    }
  }
}
