@import "./breakpoints.scss";
@import "./variables.scss";

.inner-content {
  padding: 120px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 30px 0px 30px 0px;
  }
  h2,
  h3,
  h4,
  img {
    margin-bottom: 30px;
    @include bp-tablet-sm {
      margin-bottom: 20px;
    }
  }
  h2 {
    @include bp-tablet-sm {
      font-size: 26px;
    }
  }
  li {
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
    color: $dark-grey;
    margin-top: 10px;
    @include bp-tablet-sm {
      font-size: inherit;
    }
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 20px;
  }
  ul li::before {
    content: "\2713"; /* Unicode checkmark character */
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    color: $red;
  }
  strong {
    color: $dark-grey;
  }
  .card {
    border-color: $red;
  }
}

// Insulation Page
#insulation {
  li {
    font-size: 18px;
    font-weight: normal;
    line-height: 2;
    color: $dark-grey;
    @include bp-tablet-sm {
      font-size: inherit;
    }
  }
}

// Services Page
#services {
  li {
    font-size: 18px;
    font-weight: normal;
    line-height: 2;
    color: $dark-grey;
    @include bp-tablet-sm {
      font-size: inherit;
    }
  }
}
